#navbar{
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#nav_list{
    display: inline;
    list-style: none;
    gap: 20px;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover{
    background-color: rgb(6, 236, 6);
}


